body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.kotak1{
    border: 3px solid red;
    padding: 10px;
    margin: 10px;
}

.kotak2{
    border: 3px dashed blue;
    padding: 10px;
    margin: 10px;
}

.kotak3{
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.kotak4{
    width: 150px;
    height: 150px;
    border: 5px solid purple;
    border-radius: 50%;
}

.kotak5{
    border-top: 5px solid red;
    border-right: 5px dotted blue;
    border-bottom: 5px dashed green;
    border-left: 5px double orange;
}

.kotak6{
    border: 4px solid black;
    border-radius: 10px;
}

.kotak7{
    border: 3px solid white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0, 0.3);
    color: white;
}